@CHARSET "UTF-8";

a {
    color:rgb(85, 126, 192) !important;
}

a:hover {
    background-color:rgb(85, 126, 192) !important;
    color:white !important;
}

.hiliteimp {
    background-color:rgb(85, 126, 192);
    border: 1px none lightblue;
    border-bottom: 1px solid rgb(39, 59, 132);
}

.hiliteimp, .hiliteimp a {
    color: white !important;
}

.hiliteimp a {
    color: white;
}
