body {
    font-family: Bitstream Vera Serif, Trebuchet MS, serif;
    font-size: 12px;
    line-height: 15px;
}

ul, li
{
    list-style-position:inside;
    list-style-type:disc;
}

h1 {
    font-size: 36px;
    line-height: 45px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
}

h3 {
    font-size: 21px;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    line-height: 30px;
    text-decoration:underline;
}

h5 {
    font-size: 16px;
    line-height: 30px;
}

h6 {
    font-size: 14px;
    line-height: 30px;
}

p, blockquote {
    font-size: 12px;
    line-height: 15px;
}

a {
    text-decoration: none;
    color:rgb(59, 89, 152);
}

a:hover {
    background-color:rgb(59, 89, 152);
    color:white;
}

.feed_item {
    font-size: 90%;
}

.feed_title {
    font-weight: bold; 
}
