p, pre, img, embed, object {
    margin-bottom: 15px;
} 

blockquote {
    text-indent: -0.8em;
}

p, blockquote {
    text-align: justify;
}

#hd {
    padding: 10px;
    margin-bottom: 20px;
    border-top: 1px none white;
}

.center {
    text-align: center;
}

.feed_item, .items li {
    padding: 2px;
    padding-left: 10px;
    border-top: 1px solid white;
    list-style-type: none;
}

.feed_title {
    padding: 5px;
    border-bottom:          1px solid #e0e0e0;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-radius-topleft: 3px;
    -webkit-border-radius-topright: 3px;
}

.rss_reader {
}

.rss_reader > .items {
    height: 250px;
    overflow: auto;
}

h4 {
    margin-bottom: 15px;
}

.section {
  padding : 15px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.bghilite {
    background: #efefef;
}

.hiliteimp {
    background-color:rgb(59, 89, 152);
    border: 1px none lightblue;
    border-bottom: 1px solid rgb(39, 59, 132);
    color: white;
}

.hiliteimp a {
    color: white;
}

.hiliteimp a:hover {
    text-decoration : underline;
}

.entry-date, .entry-meta {
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

pre {
    overflow : auto;
    padding: 5px;
    background: #efefef;
    border-bottom:          1px solid #e0e0e0;
}
