p, pre, img, embed, object {
    margin-bottom: 15px;
} 

blockquote {
    text-indent: -0.8em;
}

ul {
    margin-left : 15px;
    margin-bottom: 15px;
}

#hd {
    border:           1px solid #e0e0e0; 
    border-top: none;
    padding: 10px;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.feed_item {
    padding: 2px;
    padding-left: 10px;
    border-top: 1px solid white;
}

.feed_title {
    padding: 5px;
    border-bottom:          1px solid #e0e0e0;
}

.rss_reader {
    border:          1px solid #e0e0e0;
}

.rss_reader > .items {
    height: 250px;
    overflow: auto;
}

h4 {
    margin-bottom: 15px;
}

.section {
  padding : 15px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.bghilite {
    background: #efefef;
}

pre {
    width : 100%;
    overflow : auto;
    padding: 5px;
    background: #efefef;
    border-bottom:          1px solid #e0e0e0;
}
